@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
    box-sizing: border-box;
    font-family: "Neucha";
    margin: 0%;
}

header {
    background: #9D8189;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

body {
    background-image: url(illustrations/back.png);
    background-size: cover;
}

main {
    padding-top: 25%;
}

/*begin style home*/
.home {
    width: 100vw;
    height: 85vh;
}

.home h1 {
    color: rgb(35, 35, 35);
    left: 1.25em;
    font-size: 2.4em;
    position: absolute;
    width: 7.4em;
    border-right: 0.1em solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.7s steps(19),
        cursor .5s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0.1em;
    }
}

.text-home {
    height: 48em;
    background-color: #FFCAD4;
}

.text-introhome p,
.text-home p {
    padding: 2.6em .7em;
    font-size: 1.40em;
    line-height: 1.25em;
    text-align: justify;
}

.text-home p {
    padding: 0.55em .75em;
    text-align: left;
}

.text-home h2 {
    text-align: center;
    line-height: 1.2em;
}

.text-home q {
    color: #674c53;
    text-align: center;
}

.home img {
    width: 19em;
    height: 16em;
    position: absolute;
    bottom: 4em;
    left: 1.7em;
}

/*begin style over*/
.container-over {
    justify-content: center;
    width: 100vw;
    align-items: center;
    padding: 0em .7em;
    font-size: 1.4em;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.container-over h1 {
    font-size: 1.45em;
    text-align: center;
}

.container-over h2 {
    border-top: solid #9D8189;
    font-size: 1.25em;
    padding-top: 1em;
    margin-top: 0em;
}

.container-over p {
    font-size: 1em;
    margin-top: 1em;
    background-color: #f2bec7;
}

.over p {
    font-size: 1em;
    text-align: justify;
}

.over img {
    height: 15em;
    width: 12em;
    transform: translateX(2em);
}

.uniek img {
    height: 8em;
    float: right;
}

.uniek {
    height: 12em;
}

.geld img {
    height: 8em;
    float: left;
}

.co2 img {
    height: 7em;
    float: right;
}

.grondtap img {
    height: 10em;
}

/*begin trashit*/
.trash {
    height: 5em;
    justify-content: center;
    align-items: center;
    height: 61em;
}

.trash p {
    font-size: 1.35em;
}

.box-trash {
    text-align: center;
    padding-left: 0.5em;
}

.box-trash h1 {
    text-align: center;
    font-size: 1.7em;
    line-height: 2em;
}


.box-trash p {
    text-align: justify;
    padding: .4em .7em;
}

.locatie a {
    color: black;
    padding-left: 1em;
    font-size: 1.6em;
    background-color: #f3b4bd;
}

.locatie img {
    width: 22.5em;
    height: 17em;
}

.naam {
    margin-bottom: 0.5em;
    padding-top: 1em;
}

.pin {
    text-align: left;
    padding-top: 1em;
    padding-left: 1.6em;
}

form {
    height: 15em;
    padding: 1.5em;
    padding-top: 2.5em;
}

form p {
    text-align: center;
}

.verzend {
    background-color: #9D8189;
    border-radius: 2em;
    width: 4em;
    height: auto;
    font-size: 1.4em;
}

/*Begin DIY*/
.intro h1 {
    text-align: center;
    font-size: 2em;
    padding-right: .8em;
}

.intro p {
    font-size: 1.35em;
    padding: .8em;
    text-align: justify;
}

.container {
    height: 75em;
    width: 100vw;
}

.container .card:nth-of-type(2) {
    font-size: .95em;
}

.card {
    background-color: #bcc5bf;
    border: solid #898e8a 0.1em;
    margin-top: 1em;
    padding: .8em;
}

.card p {
    font-size: 1.4em;
}

.button {
    width: 2.5em;
    height: 1.7em;
}

/*begin DIY-Subpaginas */

.slider {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.images {
    display: flex;
    width: 100%;
}

.images img {
    height: 17.5em;
    width: 100vw;
    transition: all 0.15s ease;
    border-top: solid #000000;
    border-bottom: solid #000000;
}

.images input {
    display: none;
}

.dots {
    justify-content: center;
    display: flex;
    margin: 0.1em;
    gap: 0.7em;
    padding-top: 2%;
}

.dots label {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: solid;
    cursor: pointer;
    transition: all 0.15s ease;
}

.dots label:hover {
    background-color: #816b71;
}

#stap1:checked~.stap1 {
    margin-left: 0%;
}

#stap2:checked~.stap2 {
    margin-left: -100%;
}

#stap3:checked~.stap3 {
    margin-left: -200%;
}

#stap4:checked~.stap3 {
    margin-left: -300%;
}

.stappen {
    height: 38em;
    padding-top: 6%;

}

.tapijt {
    height: 33em;
}

.riem {
    height: 45em;
}

.stappen h3 {
    font-size: 1.7em;
    padding-left: 0.5em;
    padding-top: 0.8em;
}

.stappen p {
    font-size: 1.5em;
    padding: 0.6em 0.5em;
}

/*footer*/
footer {
    position: fixed;
    width: 100vw;
    background-color: #9D8189;
    align-items: center;
    display: flex;
    bottom: 0%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    font-size: 1.3em;
}

nav ul {
    padding: 0%;
    margin: 0%;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    line-height: 1em;
}